@{
    ViewBag.Title = "Ana səhifə";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Menu">
    <table >
        <tr class="container">

            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/washer-machine.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div> <div class="switch"></div></td>
            <td ><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/socket.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Electrical Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" id="set-1" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Plumbing Filled-100 (1).png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Office Phone Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>

        </tr>
        <tr>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/battery.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Shield Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/garage.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Thermometer Automation Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Light Automation Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>

        </tr>
        <tr>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Rain Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Secured by Alarm System Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Password Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/cctv.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/computer.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div class="switch"></div></td>

        </tr>
    </table>

</div>
