@{
    ViewBag.Title = "Ana səhifə";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Menu">
    <table>
        <tr>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Cooker-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Cooker Hood Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Electrical Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Plumbing Filled-100 (1).png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Office Phone Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>

        </tr>
        <tr>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Fan-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Shield Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Garage Open Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Thermometer Automation Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Light Automation Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>

        </tr>
        <tr>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Rain Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Secured by Alarm System Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Password Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/Camera Automation Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>
            <td><div class="Boxes"><img src="@Url.Content("~/Content/images/png/System Task Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div></td>

        </tr>
    </table>

</div>
