@{
    ViewBag.Title = "Ana səhifə";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Menu">
    <table>
        <tr class="container">

            <td><div id="washer" class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/washer-machine.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div> <div id="1"  class="switch" ></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/socket.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="2"class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Electrical Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" id="set-1" /> </div><div id="3" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Plumbing Filled-100 (1).png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="4" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Office Phone Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="5" class="switch"></div></td>

        </tr>
        <tr>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/battery.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div><div id="6" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Shield Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="7" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/garage.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="8" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Thermometer Automation Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="9" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Light Automation Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="10" class="switch"></div></td>

        </tr>
        <tr>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Rain Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /></div><div id="11" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Secured by Alarm System Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="12" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/Password Filled-100.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="13" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/cctv.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="14" class="switch"></div></td>
            <td><div class="Boxes view view-first"><img src="@Url.Content("~/Content/images/png/password.png")" style="width:90px; height:90px; margin-left:20px; margin-top:20px;" /> </div><div id="15" class="switch"></div></td>

        </tr>
    </table>

</div>
