
<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/images/icon-smart-house.png")" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/style.css")
    @Scripts.Render("~/bundles/jquery")
   
</head>

<body>
    <div id="Header">
        <div class="logo">
            <img style="width:350px;height:70px; margin-top:20px;" src="@Url.Content("~/Content/images/HAE logo CMYK.png")"/>
        </div>


    </div>
       
   <div class="nav">
       <nav>
           <ul class="ulmenu" >
              
               <li class="submenu"><a href="#"><img src="@Url.Content("~/Content/images/Home Filled-100.png")" style="width:40px;height:35px; margin-top:-11px; padding:3px;float:left; margin-right:3px;" alt="">Ana səhifə</a></li>
               <li class="submenu"><a href="#">Qalereya</a></li>
               <li class="submenu"><a href="#">Əməliyyatlar</a></li>
               <li class="submenu"><a href="#">Otaqlar</a></li>
            

               <li class="submenu"><a href="#">Əlaqə</a></li>
               <li class="submenu"><a href="#">Haqqinda</a></li>
               <li class="submenu"><a href="#">Konfiqurasiyalar</a></li>
           </ul>
       </nav>
   </div>
    <div id="Content">
      @RenderBody()
    </div>
    <div id="Footer" ><center ><text > &copy; @DateTime.Now.Year GeoTek BS MMC</text></center> </div>
 

</body>


<script type="text/javascript">
    $(document).ready(function () {
        $('.switch').click(function () {

            $(this).toggleClass("switchOn");

        })
    });


   

</script>

</html>
